.bus-link-window > *:not(:first-child) {
    margin-top: 0.25em;
}
.bus-link-multiple {
    display: flex;
    flex-direction: row;
}

.bit-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    letter-spacing: 0;
}
.bit-display.linking {
    cursor: cell;
}
.bit-display.linking:hover {
    color: #288edf;
}
.bit-display.editing {
    cursor: grabbing;
}
.bit-display.editing:hover {
    color: #288edf;
}

.bit-display > *:not(:first-child) {
    margin-left: 0.4em;
}

/* Colour variants */
.bit-display.edited .label {
    color: #ec8326;
}
.bit-display.highlight .label {
    color: #288edf;
}

.bit-display .bit {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;

    background-color: #595b5b;
    box-shadow: inset 0 1px #737373;
    border: 1px solid #333434;
    color: #c6c8c8;
}
.bit-display .bit div {
    margin: 0.25em;
    flex-grow: 1;
    background-color: #c6c8c8;
}

.bit-display .label {
    flex-shrink: 0;
}
.bit-display .link-to {
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bit-display .link-to::before {
    content: '-';
    margin-right: 0.25em;
}
.bit-display .link-to:empty::before {
    content: 'Not linked';
    color: #757575;
}

.bit-display .remove {
    flex-shrink: 0;
    color: #ec8326;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(51, 52, 52, 0.4);
    cursor: initial;
}
.bit-display .remove:hover {
    background-color: #626465;
    box-shadow: inset 0 1px #737373;
    border: 1px solid #333434;
}

.bit-group-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 12px;
    letter-spacing: 0;
}
.bit-group-display > *:not(:first-child) {
    margin-left: 0.4em;
}
.bit-group-display .group-divider {
    width: 0.25em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.bit-group-display .link-to {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.bit-group-display .link-to:empty::after {
    content: 'Not linked';
    color: #757575;
}

.bit-group-display .remove {
    margin-top: auto;
    margin-bottom: auto;

    flex-shrink: 0;
    color: #ec8326;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(51, 52, 52, 0.4);
    cursor: initial;
}
.bit-group-display .remove:hover {
    background-color: #626465;
    box-shadow: inset 0 1px #737373;
    border: 1px solid #333434;
}
